body{
    background-color: rgb(43, 43, 43);
    margin: 0%;
    padding: 0%;
}

h1,h2,h3,h4,h5{
    color: rgb(255, 255, 255);
    font-family: "Press Start 2P", system-ui; 
}

.myName{
    font-size: 50px;
}

.press-start{
    font-family: "Press Start 2P", system-ui;
    font-size: 10px;
} 

.play-regular {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

.play-bold {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
} 

/* .press-start 2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
} */

.mynav{
    margin-inline: 10%;
    background-color: black; 
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
    justify-content: space-evenly;
    height: 100px;
    box-shadow:
    0 0 20px 5px #fff,  /* inner white */
    0 0 50px 10px #f0f, /* middle magenta */
    0 0 100px 15px #0ff;
}
.myBody1{
    margin-inline: 10%; 
    display: flex;
    align-items: center;
    height: 80px;
}

.mySection{
    margin-inline: 10%;
    background-color: rgb(0, 0, 0); 
    padding: 1%;
}
.myfooter{
    background-color: rgb(0, 0, 0); 
    padding: 1%;
}

.sectionTitle{
    padding: 1%;
    border: solid white ;
    font-size: 150%;
    text-align: center;
}


/* PACMAN */

.mypac{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
    width: 100%;
    
}

.path{
    display:flex;
    justify-content: space-around;
    width:100%;
    animation: eating-path 2s linear infinite;
}


.path::before{
    content: "";
    background-color: #fff;
    height: 1rem;
    width: 1rem;
    border-radius:50%;
}

@keyframes eating-path {
    0%{
        transform: translateX(50%);
    }
    100%{
        transform:translateX(-50%)
    }
}

.pacman{
    position:relative;
    margin-right: 10px;
    background: transparent;
    z-index: 1;
}

.pacman::before, .pacman::after{
    content: "";
    position: absolute;
    top: -35px;
    display: block;
    border-radius:50%;
    height: 0px;
    width: 0px;
}

.pacman::before{
    animation: chunk-top 0.5s ease infinite;
    border: 35px solid #ffcc00;
    border-left-color: transparent;
    border-bottom-color: transparent;
}
@keyframes chunk-top{
    0%,100%{
        transform: rotate(-45deg);
    }
    50%{
        transform: rotate(-80deg);
    }
}

.pacman::after{
    animation: chunk-bot 0.5s ease infinite;
    border: 35px solid #ffcc00;
    border-right-color: transparent;
    border-top-color: transparent;
}
@keyframes chunk-bot{
    0%,100%{
        transform: rotate(-40deg);
    }
    50%{
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 1000px){
    body{
        padding: 0%;
        margin: 0%;
    }
    .mynav{
        display: flex;
        margin-inline: 0%;
        justify-content: center;
        height: 100px;
        box-shadow: none;
    }
    .mySection{
        margin-inline: 0%;
        justify-content: center;
    }
    .myBody1{
        margin-inline: 10%;
    }
    
    .myName{
        font-size: 20px;
        text-align: center;
    }
    .webdev{
        font-size: 10px;
    }
    .sectionTitle{
        padding: 1%;
        border: solid white ;
        font-size: 80%;
    }
}

.mymt{
    margin-top: 1%;
}

.pfp {
    background-image: url('./avatar.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
}

.boxes{
    border: solid white;
    padding: 1%;
    width: 30%;
}

.boxesContainer{
    padding: 1%;
    border: solid white; 
    display: flex; 
    justify-content: space-around;
    align-items: flex-start;
    gap: 1% 1%;
    margin-top: 1%;
    flex-wrap: wrap;
}
.borderleft{
    border-left: solid white;
}