.press-start{
    font-family: "Press Start 2P", system-ui;
    font-size: 10px;
} 

.play-regular {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

.play-bold {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
} 

.myName{
    font-size: 30px;
    text-shadow: 2px 2px 5px black;
}

.p-s1{
    line-height: 2;
    font-size: 30px;
}

.pfp{
    border: solid white;
    border-radius: 50%;
    width: 50%;
    padding: 20px;
    transition: 0.5s;
}

.pfp:hover{
    padding: 0px;
    box-shadow:
    0 0 5px 1px #fff,  /* inner white */
    0 0 10px 2px #f0f, /* middle magenta */
    0 0 15px 3px #0ff;
}

.myBorder{
    border: solid white;
}

.mySel{
    position: fixed;
    right: 0px;
    display: flex;
    margin: 20px;
    bottom: 50px;
    width: 170px;
    border: solid white;
    border-radius: 15px;
    box-shadow:
    0 0 5px 1px #fff,  /* inner white */
    0 0 10px 2px #f0f, /* middle magenta */
    0 0 15px 3px #0ff;
}

.mySels{
    position: fixed;
    right: 0px;
    bottom: 50px;
    display: flex;
    margin: 20px;
    width: 45px;
    border: solid white;
    border-radius: 15px;
    box-shadow:
    0 0 5px 1px #fff,  /* inner white */
    0 0 10px 2px #f0f, /* middle magenta */
    0 0 15px 3px #0ff;
}


.selButton{
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selLink{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.bg-mine{
    background-image: linear-gradient(to left top, #3f1f3f, #372241, #302542, #292741, #24293f, #212b3f, #1e2d3e, #1d2e3d, #1b303e, #1a333e, #1a353e, #1b373d);
}

.bg-mine1{
    background-image: linear-gradient(to left bottom, #3f1f3f, #372241, #302542, #292741, #24293f, #212b3f, #1e2d3e, #1d2e3d, #1b303e, #1a333e, #1a353e, #1b373d);
}



.selLink:hover{
    font-size: larger;
    text-shadow:
    0px 0px 2cap #fff,  /* inner white */
    0px 0px 4px #f0f, /* middle magenta */
    0px 0px 6px #0ff;
}

.logo{
    height: 60px;
}

@media screen and (max-width: 1080px){
    .myName{
        font-size: 20px;
    }
    .p-s1{
        line-height: 1;
        font-size: 20px;
    }
}