@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

.press-start{
    font-family: "Press Start 2P", system-ui;
    font-size: 10px;
} 

.play-regular {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

.play-bold {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
} 

.exo{
    font-family: 'Exo 2', sans-serif;
}

.myName{
    font-size: 30px;
    text-shadow: 2px 2px 5px black;
}

.p-s1{
    line-height: 2;
    font-size: 30px;
}

.pfp{
    border: solid white;
    border-radius: 50%;
    width: 50%;
    padding: 20px;
    transition: 0.5s;
}

.pfp:hover{
    padding: 0px;
    box-shadow:
    0 0 5px 1px #fff,  /* inner white */
    0 0 10px 2px #f0f, /* middle magenta */
    0 0 15px 3px #0ff;
}

.myBorder{
    border: solid white;
}

.mySel{
    position: fixed;
    right: 0px;
    display: flex;
    margin: 20px;
    bottom: 50px;
    width: 170px;
    border: solid white;
    border-radius: 15px;
    box-shadow:
    0 0 5px 1px #fff,  /* inner white */
    0 0 10px 2px #f0f, /* middle magenta */
    0 0 15px 3px #0ff;
}

.mySels{
    position: fixed;
    right: 0px;
    bottom: 50px;
    display: flex;
    margin: 20px;
    width: 45px;
    border: solid white;
    border-radius: 15px;
    box-shadow:
    0 0 5px 1px #fff,  /* inner white */
    0 0 10px 2px #f0f, /* middle magenta */
    0 0 15px 3px #0ff;
}


.selButton{
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selLink{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.bg-mine{
    background-image: linear-gradient(to left top, #3f1f3f, #372241, #302542, #292741, #24293f, #212b3f, #1e2d3e, #1d2e3d, #1b303e, #1a333e, #1a353e, #1b373d);
}

.bg-mine1{
    background-image: linear-gradient(to left bottom, #3f1f3f, #372241, #302542, #292741, #24293f, #212b3f, #1e2d3e, #1d2e3d, #1b303e, #1a333e, #1a353e, #1b373d);
}



.selLink:hover{
    font-size: larger;
    text-shadow:
    0px 0px 2cap #fff,  /* inner white */
    0px 0px 4px #f0f, /* middle magenta */
    0px 0px 6px #0ff;
}

.logo{
    height: 60px;
}

.title-skills{
    height: 30%;
}

.skill-card{
    border-radius: 20px;
    transition: 0.5s;
    box-shadow:
    inset 0 0 50px #ffffff8c,
    inset 20px 0 80px rgba(255, 0, 255, 0.484),
    inset -20px 0 80px rgba(0, 255, 255, 0.501),
    inset 20px 0 300px rgba(255, 0, 255, 0.534),
    inset -20px 0 300px rgba(0, 255, 255, 0.504),
    0 0 50px #ffffff83,
    -10px 0 80px rgba(255, 0, 255, 0.508),
    10px 0 80px rgba(0, 255, 255, 0.507);
}

.skill-card:hover{
    box-shadow:
    inset 0 0 50px #fff,
    inset 10px 0 80px #0ff,
    inset 20px 0 80px #f0f,
    inset 10px 0 80px #0ff,
    inset 20px 0 80px #f0f,
    0 0 50px #fff,
    -10px 0 80px #0ff,
    20px 0 80px #f0f;
}

.immagine-con-ombra {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); /* offsetX offsetY blurRadius spreadRadius color */
}

.skills{
    font-size:90px;
    font-weight: 600;
    text-shadow:
    0px 0px 10px #fff,  /* inner white */
    0px 0px 30px #f0f, /* middle magenta */
    0px 0px 50px #0ff;
} 

.sc-container{
    height: 70%;
}

.neon_box{
    padding: 20px;
    border-radius: 20px;
    padding-inline: 70px;
    border: white solid;
    box-shadow:
    0 0 5px 1px #fff,  /* inner white */
    0 0 10px 2px #f0f, /* middle magenta */
    0 0 15px 3px #0ff;
}

.logo-box{
    width: 40%;
    height: 300px;
    transition: 0.5s;
}
.logo-box:hover{
    width: 70%;
}

@media screen and (max-width: 1080px){
    .myName{
        font-size: 20px;
    }
    .p-s1{
        line-height: 1;
        font-size: 20px;
    }
    .skills{
        font-size:30px;
        font-weight: 600;
        text-shadow:
        0px 0px 2cap #fff,  /* inner white */
        0px 0px 4px #f0f, /* middle magenta */
        0px 0px 6px #0ff;
    } 
    .neon_box{
        padding: 20px;
        border-radius: 15px;
        padding-inline: 40px;
        border: white solid;
        box-shadow:
        0px 0px 2cap #fff,  /* inner white */
        0px 0px 4px #f0f, /* middle magenta */
        0px 0px 6px #0ff;
    }
    .skill-card:hover{
        display: none;
    }
    .logo-box{
        width: 40%;
        height: 150px;
        transition: 0.5s;
    }
}